@model IEnumerable<TaskOrganizer.Models.Task>

@{
    ViewBag.Title = "PendingTasksPerUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Today's Tasks</h4>
<table class="table table-hover ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TaskName)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Stage)
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr onclick="location.href = '@(Url.Action("Edit", "UserMvc", new { id = item.TaskId }))'">
        
        <td>
            @Html.DisplayFor(modelItem => item.TaskName)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Stage)
        </td>
        
    </tr>
}

</table>
